<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codon by Name</title>
</head>
<body>
    <h1>Matching Codons for {{ amino_acid }}</h1>
    <ul>
        {% for codon in matching_codons %}
            <li>{{ codon }}</li>
        {% endfor %}
    </ul>
    <h2>Information about {{ amino_acid }}</h2>
    <ul>
        {% for info in amino_acid_info %}
            <li>{{ info }}</li>
        {% endfor %}
    </ul>

<a href="/">Back</a>
</body>
</html>
